.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.overlay > * {
  position: absolute;
  z-index: 42069;
  top: 5%;
}

.menu {
  left: 12%;
}

.loginmenu {
  right: 5%;
}

.loginform {
  padding: 2em;
  width:20em;
}

.imagekey {
  right: 20%;
}

.keycard {
  text-align: center;
}

.imagekey img {
  width: 3em;
  height:auto;
}

#regionInput {
  width: 10em;
}

#map {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.leaflet-div-icon {
  background: none;
  border: none;
}
